<div class='container px-5 px-sm-0'>


  <div class="mb-4 ">
    <center>
      <b><font size="5" color="blue">管理者おすすめのプラモデル取扱店</font>
    </center>
  </div>

    <div class="row">

      <table class="table">

      <tr>
      <th class="p-3 mb-2 bg-light text-dark">店名</th>
      <th class="p-3 mb-2 bg-light text-dark">場所</th>
      <th class="p-3 mb-2 bg-light text-dark">営業時間</th>
      <th class="p-3 mb-2 bg-light text-dark">おすすめ理由</th>
      </tr>

      <tr>
      <td><font color="blue">THE GUNDAM BASE TOKYO (ガンダムベース東京)</font></td>
      <td><font size="2">東京都江東区青海1-1-10 ダイバーシティ東京 プラザ 7F</font></td>
      <td><font size="2">10:00～21:00 ※ダイバーシティ東京プラザの営業時間に準じます。</font></td>
      <td><font size="2">ガンプラが旧作から新作まで取扱っており、さらにガンダムベース限定のプラモデルなども販売している。</font></td>
      </tr>

      <tr>
      <td><font color="blue">THE GUNDAM BASE FUKUOKA(ガンダムベース福岡)</font></td>
      <td><font size="2">福岡県福岡市博多区住吉1‐2 キャナルシティ博多サウスビル 1F</font></td>
      <td><font size="2">10:00～21:00 </font></td>
      <td><font size="2">東京同様、ガンプラが旧作から新作まで取扱っており、さらにガンダムベース限定のプラモデルなども販売している。</font></td>
      </tr>

      <tr>
      <td><font color="blue">ヨドバシカメラ マルチメディアAkiba</font></td>
      <td><font size="2">東京都千代田区神田花岡町1-1　ヨドバシカメラマルチメディアAkiba 6F</font></td>
      <td><font size="2">10:00～21:00 </font></td>
      <td><font size="2">プラモデルを取り扱っている電気屋の中では、一番というほど膨大な在庫量抱えており、シリーズごとにプラモデルが並んでいるため探しているものが見つけやすい店である。</font></td>
      </tr>
      </table>
    </div>

    <div class="mb-4 ">
      <center>
        <b><font size="5" color="blue">期間限定プラモデル取扱店</font></b>
      </center>
    </div>

    <div class="row">
      <table class="table">

      <tr>
      <th class="p-3 mb-2 bg-light text-dark">店名</th>
      <th class="p-3 mb-2 bg-light text-dark">場所</th>
      <th class="p-3 mb-2 bg-light text-dark">営業時間［期間］</th>
      <th class="p-3 mb-2 bg-light text-dark">おすすめ理由</th>
      </tr>

      <tr>
      <td><font color="blue">THE GUNDAM BASE YOKOHAMA Satellite</font></td>
      <td><font size="2">神奈川県横浜市中区山下町279番25山下ふ頭内（GUNDAM FACTORY YOKOHAMA 内)</font></td>
      <td><font size="2">平日11:00～20:00 / 土日祝10:00～20:00（最終入店時間19:30）［2020年12月19日(土)～2022年3月31日(木)］</font></td>
      <td><font size="2">世界初の動くガンダムがあるGUNDAM FACTORY YOKOHAMA。その中に期間限定でガンダムベースが開店。オリジナルガンプラを中心に、横浜とのコラボ商品、公式パンフレットやここでしか手に入らないアイテムなどを、期間限定で多数販売している。</font></td>
      </tr>

      </table>

    </div>
</div>
