{"filter":false,"title":".gitignore","tooltip":"/Construction/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":31,"column":0},"end":{"row":32,"column":0},"action":"insert","lines":["",""],"id":2}],[{"start":{"row":32,"column":0},"end":{"row":32,"column":5},"action":"insert","lines":["/.env"],"id":3}]]},"ace":{"folds":[],"scrolltop":240,"scrollleft":0,"selection":{"start":{"row":32,"column":5},"end":{"row":32,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":16,"state":"start","mode":"ace/mode/ini"}},"timestamp":1637675251525,"hash":"03364a66d86b91e0a3243d79cb8b285a4ec66c50"}