<div class='container px-5 px-sm-0 '>


  <div class="mb-4 centering_parent ">
    <center>
      <b><font size="5">プラモデル一覧</font></b>
      <br>
      <b><font size="4">プラモデル系統</font></b>
    </center>
  </div>

    <center>

      <td><%= link_to "リアル系", public_public_items_real_path, class: "btn btn-success w-50 h-70 mt-2" %></td>
      <td><%= link_to "アニメ・ゲーム系", public_public_items_animation_path, class: "btn btn-primary w-50 h-70 mt-2" %></td>
    </center>
  </h1></div>
</div>